* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}


.container {
  width: 96%;
  display: inline-block;
  align-items: center;
  justify-content: center;
  border: 3px solid #e7e7e7;
  border-radius: 15px;
  border-style: solid;
  margin: 3%;
  background: rgba(44, 44, 44, 0.5);
  /* Old browsers */
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.849) 0%, rgba(0, 0, 0, 0.774) 99%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(7, 7, 7, 0.863)), color-stop(99%, rgba(255, 255, 255, 1)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.822) 0%, rgba(5, 5, 5, 0.822) 99%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(24, 24, 24, 0.795) 0%, rgba(0, 0, 0, 0.712) 99%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(15, 15, 15, 0.788) 0%, rgba(22, 22, 22, 0.767) 99%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(12, 12, 12, 0.733) 0%, rgba(31, 31, 31, 0.76) 99%);
  /* W3C */
  
}

.gallary {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(205px, 1fr));

}
.gallary a {
  padding: 3%;
  margin-left: 3%;
  
  
}

.gallary img {
  width: 96%;
 
}

.white-wood {
  background: url(../images/white-wood.jpg) repeat-x center top;
  background-repeat: repeat;
  background-size: 1200px;
}

.container img {

  filter: sepia(100%);
  transition: 1s;
  border: 1px solid #e7e7e7;
  border-radius: 24px;
  }
  
  .container img:hover {
  
    filter: sepia(0);
    transform: scale(1.05);
  
  }

  
#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  border-bottom: 1px solid #ccc;
  text-align: center;
}

#navbar nav {
  border-left: 1px solid #ccc;
}

#navbar nav a {
  display: inline-block;
  width: 16.667%;
  margin: 0;
  padding: 22px 0;
  text-transform: uppercase;
  color: black;
  text-align: center;
  border-right: 1px solid #ccc;
  text-decoration: none;
  font: 1em "Trebuchet MS", Arial, sans-serif;
}

#navbar nav a.selected {
  background: #333;
  color: white;
}

#navbar nav a:hover {
  color: white;
  background: rgb(0, 0, 0);
  /* Old browsers */
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(71, 71, 71, 1) 28%, rgba(81, 81, 81, 1) 35%, rgba(71, 71, 71, 1) 72%, rgba(43, 43, 43, 1) 87%, rgba(28, 28, 28, 1) 91%, rgba(0, 0, 0, 1) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 1)), color-stop(28%, rgba(71, 71, 71, 1)), color-stop(35%, rgba(81, 81, 81, 1)), color-stop(72%, rgba(71, 71, 71, 1)), color-stop(87%, rgba(43, 43, 43, 1)), color-stop(91%, rgba(28, 28, 28, 1)), color-stop(100%, rgba(0, 0, 0, 1)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(71, 71, 71, 1) 28%, rgba(81, 81, 81, 1) 35%, rgba(71, 71, 71, 1) 72%, rgba(43, 43, 43, 1) 87%, rgba(28, 28, 28, 1) 91%, rgba(0, 0, 0, 1) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(71, 71, 71, 1) 28%, rgba(81, 81, 81, 1) 35%, rgba(71, 71, 71, 1) 72%, rgba(43, 43, 43, 1) 87%, rgba(28, 28, 28, 1) 91%, rgba(0, 0, 0, 1) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(71, 71, 71, 1) 28%, rgba(81, 81, 81, 1) 35%, rgba(71, 71, 71, 1) 72%, rgba(43, 43, 43, 1) 87%, rgba(28, 28, 28, 1) 91%, rgba(0, 0, 0, 1) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(71, 71, 71, 1) 28%, rgba(81, 81, 81, 1) 35%, rgba(71, 71, 71, 1) 72%, rgba(43, 43, 43, 1) 87%, rgba(28, 28, 28, 1) 91%, rgba(0, 0, 0, 1) 100%);
  /* W3C */
}

#navbar nav a.menu-icon {
  display: none;
  visibility: hidden;
}



/*////////// LOGO //////////*/

#logo {
  padding: 74px 0 0;
}

#logo h1 {
  display: inline-block;
  width: 45px;
  height: 45px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  background: url(../images/exceptional-logo.png) no-repeat;
  background-size: 100% 100%;
}

#logo h2 {
  display: inline-block;
  font: 2.5em "Clicker Script", cursive;
  margin: 0;
  position: relative;
  top: -9px;
  left: 5px;
  color: #303;
}
