@media only screen and (max-width: 1108px) {
    .wrapper {
        width: 90%;
       }
       #social {
           position: absolute;
           top: 82px;
           right: 4%;
           width: auto; 
       }

       #social a {
           display: inline-block;

       }
}

@media only screen and (max-width: 900px) {
    body {
        font-size: 90%;
    }

    #logo h1 {
        width: 35px;
        height: 35px;
    }

    #logo h2 {
        font-size: 2.2em;
    }

    #social {
        top: 72px;
    }

    .col-3 p {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }

    @media only screen and (max-width: 800px) {
        #navbar nav a {
            font-size: 0.9em;
        }

    }

    @media only screen and (max-width: 750px) {

.col-1, .col-2, .col-3 {
width: 100%;
margin-left: 0;
float: none;
}
.border-right {
    border: 0;
}

#details div {
    height: auto;
    padding-bottom: 20px;
}

.col-3 p {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
}
    } 
        
    @media only screen and (max-width: 700px) {
#navbar nav a {
    display: inline-block;
    font-size: 0.75em;
    
    
}

#navbar nav a.menu-icon {
    display: block;
    padding: 10px 20px;
    width: auto;
    float: right;
    font-size: 100%;
}

#logo {
    padding: 60px 0 0;
}

#social {
    top: 60px;
}

#snavbar nav a {

    font-size: 100%;
    
}
    }

    @media only screen and (max-width: 490px) {
        
        #logo h1, h2 {
            visibility: hidden;
        }

        
            
        }

        #social {
            visibility: hidden;
        }

        

        nav {
            font-size: 90%;
        }




    }


    
    @media only screen and (max-width: 300px) {
        
        #logo h2 {
            visibility:collapse
        }

       
            
        }

        #social {
            visibility: hidden;
        }

        nav {
            font-size: 70%;
        }






    }





        
   















}